<tui-root>
  <!-- content of your app -->
  hi
  <router-outlet></router-outlet>

  <!--
     If you need, you can add something between Taiga portal layers:
    -->
  <!--  <ng-container ngProjectAs="tuiOverContent">-->
  <!--    &lt;!&ndash; Content over app content &ndash;&gt;-->
  <!--  </ng-container>-->
  <!--  <ng-container ngProjectAs="tuiOverDialogs">-->
  <!--    &lt;!&ndash; Content over dialogs &ndash;&gt;-->
  <!--  </ng-container>-->
  <!--  <ng-container ngProjectAs="tuiOverAlerts">-->
  <!--    &lt;!&ndash; Content over alerts &ndash;&gt;-->
  <!--  </ng-container>-->
  <!--  <ng-container ngProjectAs="tuiOverPortals">-->
  <!--    &lt;!&ndash; Content over dropdowns &ndash;&gt;-->
  <!--  </ng-container>-->
  <!--  <ng-container ngProjectAs="tuiOverHints">-->
  <!--    &lt;!&ndash; Content over hints &ndash;&gt;-->
  <!--  </ng-container>-->
</tui-root>
